*********************************
 Current Weather Conditions for:
  ${weather.location.city}, ${weather.location.region}, ${weather.location.country}
  
 Temperature: ${weather.condition.temp}
*********************************
