.book .titlepage h2.title {
  display: none;
}

.authorgroup {
  float: right;
  width: 140px;
  margin-top: -20px;
}

.authorgroup h2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.author {
  float: left;
  clear: left;
}

.book .titlepage hr {
  display: none;
}

.toc_intro {
  margin-top: 20px;
  float: left;
  width: 500px;
  text-align: justify;
}