.book .titlepage h2.title {
  display: none;
}

.authorgroup {
  float: right;
  width: 140px;
  margin-top: -20px;
}

.authorgroup h2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.author {
  float: left;
  clear: left;
}

.book .titlepage hr {
  display: none;
}

.toc_intro {
  margin-top: 20px;
  float: left;
  width: 500px;
  text-align: justify;
}

.addthis_toolbox {
  margin-top: 10px;
  margin-bottom: 10px;
}


ul#nav-sub {
  padding: 0px;
}

ul#nav-sub li {
  margin: 0px;
  padding: 0px;
}

ul#nav-sub li.first {
  text-align: left;
  width: 320px;
}

ul#nav-sub li.last {
  text-align: right;
  width: 320px;
}