/*
 * Sonatype Asciidoc Template
 *
 */

/*** Layout ***/

/* overriding content from application.css */

/* this is necessary to remove the max-width 100% which causes admonition block icons to have wrong size */
img {
    max-width: none; 
}

h1 {
    padding-bottom: 10px;
}

.preface a, .preface a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 18px;
	color: #135678 !important;
	text-decoration: none;
}

.chapter a, .chapter a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style:bold;
	color: #135678 !important;	
	text-decoration: none;
}

.section a, .section a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style:bold;
}

.book .titlepage h1.title {
    color: #000;
	font-size: 28px;
}

.authorgroup {
  float: right;
  width: 140px;
  margin-top: -20px;
}

.authorgroup h2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.author {
  float: left;
  clear: left;
}

.book .titlepage hr {
  display: none;
}

.toc_intro {
  margin-top: 20px;
  float: left;
  text-align: justify;
}

.addthis_toolbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

#nav-sub-block {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

ul#nav-sub  {
  margin: 0px;
  padding: 0px;
}

ul#nav-sub li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
}

ul#nav-sub li.first {
  text-align: left;
  float:left;
  font-style: italic;
  margin-right: 30px;
}

ul#nav-sub li.last {
  text-align: right;
  float:right;
  font-style: italic;
  margin-left: 30px;
}

.warning {
  background: #fff8f7;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #d04437;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.warning h3 {
  color: #d04437;
}
.caution {
  background: #fff8f7;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #d04437;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.caution h3 {
  color: #d04437;
}

.important {
  background: #f3f9f4;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #91c89c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.important h3 {
  color: #91c89c;
}

.tip {
  background: #f3f9f4;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #91c89c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.tip h3 {
  color: #91c89c;
}

.note {
  background: #f3f9f4;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #91c89c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.note h3 {
  color: #91c89c;
}

