/*
 * Sonatype Asciidoc Template
 *
 */

/*** Layout ***/

.preface a, .preface a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 18px;
	color: #135678 !important;
	text-decoration: none;
}

.chapter a, .chapter a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-stle:bold;
	color: #135678 !important;	
	text-decoration: none;

}

.section a, .section a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 16px;
}

#nav-sub-block {
	margin-top: 10px;
	border-top: 1px solid #CCC;
	text-align: right;
	padding-top: 10px;
}

ul#nav-sub {
	clear: both;
	list-style-type: none;
	padding:0;
	margin:0px 0px 0px 0px;
}

ul#nav-sub li.first {
text-align: left;
float:left;
}

.book .titlepage h2.title {
  display: none;
}

.authorgroup {
  float: right;
  width: 140px;
  margin-top: -20px;
}

.authorgroup h2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.author {
  float: left;
  clear: left;
}

.book .titlepage hr {
  display: none;
}

.toc_intro {
  margin-top: 20px;
  float: left;
  text-align: justify;
}

.addthis_toolbox {
  margin-top: 10px;
  margin-bottom: 10px;
}


ul#nav-sub {
  padding: 0px;
}

ul#nav-sub li {
  margin: 0px;
  padding: 0px;
}

ul#nav-sub li.first {
  text-align: left;
}

ul#nav-sub li.last {
  text-align: right;
}
