<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://gmpg.org/xfn/11">
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Maven by Example: ${title}</title>
    <!-- style -->
    <style type="text/css" media="screen">@import url( http://www.sonatype.com/people/wp-content/themes/inove/style.css );</style>
    <style type="text/css" media="screen">@import url( ../css/typography.css );</style>		
</head>


<body>
<!-- wrap START -->
<div id="wrap">
<!-- container START -->
<div id="container">

<!-- header START -->
<div id="header">
	<div id="caption">
		<!-- <h1 id="title"><a href="http://www.sonatype.com/people/">Sonatype Blog</a></h1>
		<div id="tagline">State-of-the-Art Build Production for the Modern Software Enterprise</div> -->
 	</div>

	<!-- navigation START -->
	<div id="navigation">
		<ul id="menus">
			<li class="current_page_item"><a class="home" title="Home" href="http://www.sonatype.com">Home</a></li>
			<li><a class="lastmenu" href="http://books.sonatype.com/">Books</a></li>
			<li><a class="lastmenu" href="http://www.sonatype.com/books/mvnex-book/reference/public-book.html">Maven by Example</a></li>
			<li><a class="lastmenu" href="#">${title}</a></li>
		</ul>

		<!-- searchbox START -->
		<div id="searchbox">
<div id="cse" style="width: 100%; margin-top: -4px;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function(){
    var customSearchControl = new google.search.CustomSearchControl('007569126706826482817:uwsqv5-rs34');
    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<style type="text/css">
  input.gsc-search-button {
    padding: 2px;
    font-weight: bold;
    margin-left: 4px;
  }

  input.gsc-input {
    padding: 2px;
    margin-right: 5px;
    margin-left: -10px;
  }

  .gsc-control-cse {
    padding-top: 2px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
</style>
					</div>
		<!-- searchbox END -->

		<div class="fixed"></div>
	</div>
	<!-- navigation END -->

        ${head}

	<div class="fixed"></div>
</div>
<!-- header END -->

<!-- content START -->
<div id="content">

	<!-- main START -->
	<div id="main">

          ${body}

	</div>
	<!-- main END -->

	
<!-- sidebar START -->
<div id="sidebar">

<!-- sidebar north START -->
<div id="northsidebar" class="sidebar">

	<!-- feeds -->
	<div class="widget widget_feeds">
		<div class="content">
			<div id="subscribe">
				<a id="feedrss" title="Subscribe to this blog..." href="http://feeds2.feedburner.com/sonatype">Sonatype Blog RSS</a>
				</div>
			<div class="fixed"></div>
		</div>
	</div>


	<!-- showcase -->
			<div class="widget">
						<div class="content">
				<center><img src="http://www.sonatype.com/system/files/images/maven-example-cover.png" width="150"/></center>
<ul>
  <li><a href="http://www.sonatype.com/maven/documentation/download-example?file=books/maven-by-example.pdf">Download the Maven by Example PDF</a></li>
  <li><a href="http://www.lulu.com/product/paperback/maven-by-example/6014583">Purchase a Printed Copy</a></li>
  <li><a href="https://issues.sonatype.org/browse/MVNEX">Report a Typo or an Error</a></li>
</ul>
</div>
		</div>
	

	<!-- posts -->
	
	<div class="widget widget_categories">
		<h3>Recent Blog Posts</h3>
<script src="http://feeds.feedburner.com/sonatype?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/sonatype"></a><br/>Powered by FeedBurner</p> </noscript>
	</div>

	<div class="widget widget_categories">
<div style="padding-top: 10px; padding-left: 60px;"><script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script>if (WIDGETBOX) WIDGETBOX.renderWidget('a7065f46-6850-4de6-8bd6-7a86c11f6d39');</script><noscript>Get the <a href="http://www.widgetbox.com/widget/twidget">Twitter Widget</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://docs.widgetbox.com/using-widgets/installing-widgets/why-cant-i-see-my-widget/">More info</a>)</noscript></div>
</div>

	<!-- recent comments -->
	<div class="widget widget_categories">
		<h3>Download Nexus</h3>
<ul>  
  <li>Download <a href="http://nexus.sonatype.org">Nexus Open Source</a></li>
  <li>Download <a href="http://www.sonatype.com/products/nexus">Nexus Professional</a></li>
</ul>
</div>
	
</div>
<!-- sidebar north END -->

<div id="centersidebar">

	<!-- sidebar east START -->
	<div id="eastsidebar" class="sidebar">
	
		</div>
	<!-- sidebar east END -->

	<!-- sidebar west START -->
	<div id="westsidebar" class="sidebar">
	
		</div>
	<!-- sidebar west END -->
	<div class="fixed"></div>
</div>

<!-- sidebar south START -->
<div id="southsidebar" class="sidebar">


</div>
<!-- sidebar south END -->

</div>
<!-- sidebar END -->
	<div class="fixed"></div>
</div>
<!-- content END -->

<!-- footer START -->
<div id="footer">
	<div id="copyright">
		Copyright &copy; 2007-2010 Sonatype</div>
</div>
<!-- footer END -->

</div>
<!-- container END -->
</div>
<!-- wrap END -->


<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1693297-1");
pageTracker._trackPageview();
</script>


<script src="http://loopfuse.net/webrecorder/js/listen.js" type="text/javascript"></script>
<script type="text/javascript">
		_lf_cid = "LF_5208d25a";
_lf_remora();
</script>
<script id="aptureScript" type="text/javascript" src="http://www.apture.com/js/apture.js?siteToken=Khl1Be7" charset="utf-8"></script>

<script type="text/javascript">
var _sf_async_config={uid:3539,domain:"sonatype.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>

</body>
</html>
